.subtitle {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 20px;
}

.aboutme {
    color: #FFF;
}

.instalink {
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    text-decoration: underline;
}