* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #C6A0F7 !important;
    position: relative;
}

.share-btn {
    position: absolute;
    top: 0px;
    left: 7%;
    font-size: 25px;
}

.share-btn a {
    text-decoration: none;
    color: #FFF;
}

.img-container {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin: 0 auto;
    margin-top: 40px;
}

.img-container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.title {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 15px;
}

.title a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
}

footer {
    width: 100%;
    height: 100px;
}

.footer-img {
    margin: 0 auto;
    height: 100%;
    width: 200px;
}

.footer-img img {
    width: 100%;
}